html,
body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: normal;
    font-family: 'Roboto', 'Arial', sans-serif;
    background: #ffffff;
}
h1 { /*in catalog*/
    font-size: 55px;
    line-height: 55px;
}
h2 { /*in index*/
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
h3 { /*in catalog*/
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #000000;
    text-transform: uppercase;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.container {
    width: 1160px;
    padding:0 20px;
    margin: 0 auto;
}
.main-header {
    background-color: #eeeeee;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 60px;
}
.logo {
    width: 160px;
    float: left;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 0;
    max-height: 65px;
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.3;
}
.main-menu {
    float: left;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;

}
.main-menu li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
}
.main-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 16px;
    margin-top: 74px ;
    padding-right: 47px;
}
.main-menu a:hover {
    color: #fb565a;
}
.main-menu a:active{
    color: #a6a6a6;
}
.main-menu .active{
    position: relative;
    background-color: none;
 }

.main-menu .active::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 60%;
    height: 2px;
    background-color: #fb565a;
}
.main-menu .active a:active {
    color: #000000;
}
.header-cart {
    float: right;
    max-width: 160px;
}
.cart {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    vertical-align: top;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 74px ;
    padding-left: 86px;

}
.cart:hover {
    color: #fb565a;
}
.cart::before {
    content: "";
    position: absolute;
    top: 82px;
    left: 46px;

    width: 15px;
    height: 15px;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -6px -4px;
    opacity: 0.3;
}
.cart:active{
    color:#a6a6a6;
}
.slider {
    position: relative;
    width: 1160px;
    height: 431px;
    margin: 0 auto;
}
.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}
.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    width: 200px;
    height: 18px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}
.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 12px;
    margin-top: 3px;
    background: white;
    box-shadow: 0 0 0 5px white;
    border: 2px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    border: 2px solid #cfcfcf;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide-title {
    margin-top: 75px;
    margin-bottom: 26px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}
.slide p {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
}
.info-btn {
    display: inline-block;
    padding: 16px 54px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    background:#fb565a;
}
.info-btn:hover {
    background: #e74246;
}
.info-btn:active {
    background: #d7373b;
    color: #e37376;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}
.slide:nth-child(1) {
    background: url("../img/slider-1.png") no-repeat;
    background-position: 100% 0%;
}

.slide:nth-child(2) {
    background: url("../img/slider-2.png") no-repeat;
    background-position: 100% 0%;
}

.slide:nth-child(3) {
    background: url("../img/slider-3.png") no-repeat;
    background-position: 100% 0%;
}

.slide {
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display:block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display:block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display:block;}
.promo {
    float: left;
    width: 300px;
    margin-right: 100px;
}

.promo:last-child {
    margin-right: 0;
}
.promo-blocks {
    margin-top: 80px;
    margin-bottom: 80px;
}
.promo-title {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 11px;
    text-transform: uppercase;
}
.promo-content {
    margin-right: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-top:15px;
}
.btn-promo {
    display: inline-block;
    padding: 16px 40px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}
.btn-promo.red {
    background-color: #fb565a;
}
.btn-promo.red:hover {
    background: #e74246;
}
.btn-promo.red:active {
    background: #d7373b;
    color: #e37376;
     box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}
.btn-promo.green {
    background-color: #00ca74;
}
.btn-promo.green:hover {
    background: #00bc6c;
}
.btn-promo.green:active {
    background: #00aa62;
    color: #4dc491;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}
.btn-promo.yellow {
    background-color: #efc84a;
}
.btn-promo.yellow:hover {
    background: #eab534;
}
.btn-promo.yellow:active {
    background: #e5a722;
    color: #edc265;
     box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
}

.content-left b{
    display: block;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 31px;
}
.content-left h2 {
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.content-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 23px;
}
.content-ul li {
    position: relative;
    padding-left: 37px;
    padding-bottom: 24px;
}
.content-ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 25px;
    height: 2px;
    background: transparent url("../img/Layer.png") no-repeat;
}
.content-ul li:last-child {
    padding-bottom: 0;
}

.content-left {
    width: 660px;
    float: left;
    padding-top: 35px;
}
.content-right {
    width: 360px;
    float: right;
}
.content-right img {
    margin-bottom: 30px;
}
.content-right h2 {
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
.box {
    float: left;
    width: 110px;
    margin-right: 10px;
}
.rate {
    display: block;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
sup {
    font-size: 22px;
    font-weight: 700;
    line-height: 10.06px;
}
.facts {
    display: block;
    font-size: 16px;
    line-height: 18px;
}

.content {
    margin-top: 40px;
    margin-bottom: 74px;
    border-top: 2px solid #eee;
    padding-top: 40px;
}
.partners {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 79px;
}
.htmlacademy {
    position: relative;
    display: block;
    float: left;
    margin-right: 40px;
    padding: 63px 30px;
    padding-bottom: 45px;
    opacity: 0.2;
}
.borodinski {
    display: block;
    position: relative;
    float: left;
    margin-right: 40px;
    padding: 48px 26px;
    padding-bottom: 41px;
    opacity: 0.2;
}
.pink {
    position: relative;
    display: block;
    float: left;
    margin-right: 40px;
    padding: 66px 38px;
    padding-bottom: 42px;
    opacity: 0.2;
}
.mishka {
    display: block;
    float: left;
    padding: 54px 43px;
    padding-bottom: 38px;
    opacity: 0.2;
}
.htmlacademy::after,
.borodinski::after,
.pink::after {
    position: absolute;
    content: "";
    left: 280px;
    top: 64px;
    height: 50px;
    width: 2px;
    background: #eeeeee;
}
.partners a:hover {
    opacity: 1;
}
.partners a:active {
    opacity: 0.1;
}
.map {
    position: relative;
    min-height: 416px;
    background: url(../img/map-marker.jpg) no-repeat ;
    background-position: center;
}
.contact {
    position: absolute;
    top: 55px;
    padding: 47px 50px;
    background-color: white;
}
.title {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
   text-transform: uppercase;
 }
.address {
    display: block;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
    color: #666666;
}
 .phone {
    display: block;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    color: #666666;
}
.contact-btn {
    display: inline-block;
    padding: 16px 44px;
    margin-top: 37px;
    background: #fb565a;
    border-radius: 2px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
}
.contact-btn:hover{
    background-color: #e74246;
}

.contact-btn:active{
    background-color: #d7373b;
    color: #e37376;
    box-shadow: inset 0 3px 0 rgba(193,49,53,1);
}
.footer {
    margin-top: 69px;
    margin-bottom: 69px;
}
.footer-social {
    width: 260px;
    float: left;
    margin-right: 140px;
}

.footer-text {
    width: 560px;
    float: left;
    padding-top: 5px;
}
.footer-text h2 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-text p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
}
.social-btn-vk::before{
    position: absolute;
    content: "";
    width: 26px;
    height: 18px;
    background-repeat: no-repeat;
    top: 29px;
    left: 26px;
    background-image: url("../img/sprite.png");
    background-position: -4px -225px;
}
.social-btn-fb::before{
    position: absolute;
    content: "";
    width: 12px;
    height: 22px;
    background-repeat: no-repeat;
    top:28px;
    left: 34px;
    background-image: url("../img/sprite.png");
    background-position: -5px -127px;
}

.social-btn-inst::before{
     position: absolute;
    content: "";
    width: 21px;
    height: 20px;
    background-repeat: no-repeat;
    top: 30px;
     left: 28px;
    background-image: url("../img/sprite.png");
    background-position: -4px -160px;
}
.social-btn {
    position: relative;
    display: inline-block;
    width: 79px;
    height: 79px;
    margin-right: 7px;
    background-color: #e1e1e1;
    border-radius: 50%;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;

}
.social-btn:last-child {
    margin-right: 0;
}
.social-btn:hover{
    background-color: #e74246;
}
.social-btn:active{
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.1);
    color:  #e37376;
}


.social-btn-vk:active::before,
.social-btn-fb:active::before,
.social-btn-inst:active::before{
    opacity: 0.3
}
/*стили для каталога*/
.top-section{
    margin-top: 75px;
    padding-bottom: 73px;
    text-align: center;

}
.left-section {
    float: left;
    width: 260px;
}
.price h3 {
    display: inline-block;
   line-height: 18px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
    font-weight: bold;
    text-transform: uppercase;
}
.range-filter {
    width: 260px;
}
.range-controls {
    position: relative;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    height: 41px;
    border-radius: 2px;
    margin-bottom: 12px;
    background-color: #eeeeee;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
 }
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #ffffff;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cccdcd;
}
.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}
.price-controls label {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    width: 50%;
}
.max-price {
    text-align: right;
}

.price-controls input {
    font-size: 16px;
    line-height: 22px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 9px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 2px;
    background: #f1f1f1;
}
.price {
    margin-bottom: 54px;
}
.layouts h3 {
    margin-bottom: 15px;
}
.layouts input[type="radio"],
.features input[type="checkbox"] {
    display: none;
    outline: none;
}
.layouts label {
    margin-bottom: 15px;
    cursor: pointer;
}
.layouts label:last-child {
    margin-bottom: 44px;
}
.features label:last-child{
    margin-bottom: 48px;
}
.features label{
    margin-bottom: 16px;
    cursor: pointer;
}
.layouts label,
.features label {
    padding-left: 37px;
    position: relative;
    color: #283136;
}
input[type="radio"] + label::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 26px;
    background: url(../img/sprite3.png) no-repeat;
    top: -2px;
    left: -3px;
    background-position: -27px -29px;
    cursor: pointer;
    opacity: 0.4;
}

input[type="radio"]:checked + label::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 26px;
    background: url(../img/sprite3.png) no-repeat;
    top: -2px;
    left: -3px;
    background-position: -27px -115px;
    opacity: 0.4;
}

.layout{
    width: 200px;
    float: left;
}

input[type="radio"] + label:hover::before{
    opacity: 1;
}

input[type="radio"] + label:disabled::before{
    opacity: 0.1;
}

label {
    display: block;
}
.features label {
    position: relative;
}
.features h3 {
    margin-bottom: 15px;
    cursor: pointer;
}
input[type="checkbox"] + label::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 28px;
    background: url(../img/sprite.png) no-repeat;
    top: 1px;
    left: 1px;
    background-position: -5px -30px;
    cursor: pointer;
    opacity: 0.4;
}

input[type="checkbox"]:checked + label::before{
    position: absolute;
    content: "";
    width: 31px;
    height: 28px;
    background: url(../img/sprite.png) no-repeat;
    top: 1px;
    left: 1px;
    background-position: -5px -63px;
     cursor: pointer;
}

input[type="checkbox"] + label:hover::before{
    opacity: 1;
}

input[type="checkbox"] + label:disabled::before{
    opacity: 0.1;
}
.feature{
    float: left;
    width: 200px;
}
.filter label:disabled{
    opacity: 0.3;
}
.filter-btn {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    line-height: 16px;
    border: none;
    background-color: #eeeeee;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 600;
}

.filter-btn:hover {
    background-color: #dfdfdf;
}

.filter-btn:active {
    background-color: #d5d5d5;
    color: #a9a9a9;
    box-shadow: inset 0 3px 0 rgba(191,191,191,1);
}

.separate-items{
    display:inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 240px;
    margin-top: -2px;
}

.separate-item {
    display:inline-block;
    font-size: 0;
    margin-left: 26px;
    vertical-align: top;
    margin-top: -5px;
}

.separate-item a{
    display:inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2px;
    margin-right: 27px;
    color: #000000;
}

.separate-item a:last-child{
    margin-right: 45px;
   color: #b2b2b2;}


.separate-item a:nth-child(2){
   color: #b2b2b2;
}

.separate-item a:hover{
    color: #666666;
}
.separate-item a:active{
    color: #000000;
}

.arrows{
    display:inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 40px;
    margin-top: -7px;

}

.arrows a{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    font-size: 0;
}

.arrows a:hover{
    border-top-color: #999999;
    border-bottom-color: #999999;
}

.arrows a:active{
    border-top-color: #000000;
    border-bottom-color: #000000;
}

.arrows .down{
    width:0;
    height: 0;
    border-top: 10px solid #cccccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-right: 19px;
    margin-left: 1px;
    margin-top: 2px;
}

.arrows .up{
    width:0;
    height: 0;
    border-bottom: 10px solid #cccccc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-top: 2px;
}

.arrows .active{
    border-top-color: #000000;
}

.right-section {
    float: right;
    width: 760px;

}
.separate {
    vertical-align: top;
    font-size: 0;
    margin-bottom: 49px;
}
.separate a{
    display: inline-block;
    vertical-align: middle;
}


.catalog {
    width: 760px;
    margin-bottom: 20px;
}
.catalog-item {
    position: relative;
    border: 1px solid #e9e9e9;
    border-top: 40px solid #e9e9e9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 40px;
    width: 358px;
    height: 576px;
    float: left;
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 18px;

}
.catalog-item:nth-child(2n){
  margin-right: 0;
}
.catalog-item::before{
    content: "";
    position: absolute;
    left: 16px;
    top: -27px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
}

.catalog-item::after{
    content: "";
    position: absolute;
    left: 39px;
    top: -27px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
}
.catalog-img{
    position: relative;
}

.catalog-img::before{
    content: "";
    position: absolute;
    left: 62px;
    top: -27px;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
}
.catalog-item:hover .hover{
    display: block;
    border-color: #4d4d4d;
}

.catalog-item:hover {
    background-color: #e1e1e1;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: #4d4d4d;
    box-shadow: 0 5px 9px 2px rgba(0,1,1,0.25)
}


.hover{
    position: absolute;
    bottom: 1px;
    font-size: 16px;
    line-height: 18px;
    background: #eeeeee;
    box-sizing: border-box;
    text-align: center;
    width: 358px;
    height: 232px;
    padding-top: 25px;
    padding-right: 65px;
    padding-left: 65px;
    padding-bottom: 43px;
    display: none;
}

.hover a{
    text-decoration: none;
}

.hover .name{
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.hover-btn{
    display: inline-block;
    vertical-align: middle;
    background-color: #fb565a;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 19px 62px;
    border-radius: 2px;
    color: white;
    margin-top: 11px;
}

.hover-btn:hover{
    background-color: #e74246;
}

.hover-btn:active{
    background-color: #d7373b;
    color: #e37376;
    box-shadow: inset 0 3px 0 rgba(193,49,53,1);
}
.pages{
    font-size: 0;
    margin-top: 23px;
    margin-bottom: 57px;
}


.pages a{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 500;
    padding: 16px 21px;
    background: #eeeeee;

}

.pages a:active{
    background-color: #d5d5d5;
    color: #959595;
    box-shadow: inset 0 3px 0 rgba(191,191,191,1);
}
.pages a:hover{
    background-color: #dfdfdf;
}
.pages .active-page{
    box-sizing: border-box;
    padding: 14px 18px;
    background-color: white;
    border: 3px solid #dbdbdb;

}

.pages .active-page:hover{
    border-color: #d5d5d5;
    background-color: #d5d5d5;
}

.pages .active-page:active{
    box-shadow: none;
    border-top-color: #bfbfbf;
}

.pages .next{
    padding-left: 77px;
    padding-right: 77px;
    margin-left: 2px;
}
.modal-content {
    position: fixed;
    bottom: 10%;
    left: 50%;
    box-sizing: border-box;
    width: 960px;
    margin-left: -480px;
    padding: 73px 100px;
    color: #000000;
    background: #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 99999;
}/*
.modal-content:target {
    display: block;
    pointer-events: auto;
}*/
.modal-content-show {
  display: block;
}
.modal-content-close{
    position: absolute;
    top: 77px;
    left: 850px;
    font-size: 0px;
    border: 0;
    cursor: pointer;
    opacity: 0.3;
    width: 22px;
    height: 22px;
    background-color: white;
}
.modal-content-close:hover{
    opacity: 1;
}

.modal-content-close:active{
    opacity: 0.1;
}
.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 23px;
    height: 4px;
    background-color: #fb565a;
    border-radius: 1px;
}
.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2{
    margin-top: -7px;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.modal-content label{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}



.letter-form{
    margin-top: 41px;
    margin-left: 2px;
    font-size: 0;
}
.letter-form input[type="text"]{
    font-size: 16px;
    line-height: 18px;
    font-family: 'Roboto', 'Arial', sans-serif;
    width: 100%;
    padding: 13px 14px;
    box-sizing: border-box;
    margin-top: 9px;
    border: 2px solid #d7dcde;
}

.letter-form input[type="text"]:hover{
    border-color: #b4b9bb;
    color: #a1a1a1;
}

.letter-form input[type="text"]:active{
    border-color: #000000;
    color: #444444;
}

.letter-form input[type="text"]:focus{
    border-color: #000000;
    color: #444444;
}


.letter-form label:nth-child(1){
    padding-right: 20px;
    box-sizing: border-box;
}

.letter-form label:nth-child(2){
    padding-left: 20px;
    box-sizing: border-box;
}

input::focus-webkit-input-placeholder {
    color: #444444;
}
input:focus-moz-placeholder  {
    color: #444444;
}

.letter-item{
    margin-top: 35px;
    margin-bottom: 10px;
}

.letter-form textarea{
    width: 728px;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: 13px 14px;
    height: 89px;
    margin-bottom: 11px;
    border: 2px solid #d7dcde;
}

.letter-form textarea:focus{
    border-color: #000000;
    color: #444444;
}

.letter-form .btn{
    border: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    margin-top: 23px;
    background-color: #fb565a;
    line-height: 18px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 17px 83px;
    border-radius: 2px;
}

.letter-form textarea:hover{
    border-color: #b4b9bb;
    color: #a1a1a1;
}

.letter-form textarea:active{
    border-color: #000000;
    color: #444444;
}

.letter-form .btn:hover{
    background-color: #e74246;
}

.letter-form .btn:active{
    background-color: #d7373b;
    color: #e37376;
    box-shadow: inset 0 3px 0 rgba(193,49,53,1);
}



